<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="grid"
  aria-label="Formulario de alta de cliente"
>
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required aria-required="true" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="apellido" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Edad</mat-label>
    <input matInput type="number" formControlName="edad" required min="0" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha de nacimiento</mat-label>
    <input matInput type="date" formControlName="fechaNacimiento" required />
    <mat-hint *ngIf="form.value.fechaNacimiento">{{
      form.value.fechaNacimiento! | birthdate
    }}</mat-hint>
  </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="form.invalid">Guardar</button>
</form>
